.app {
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle {
    background-color: #00796B;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.dark-mode-toggle:hover {
    background-color: #004d40;
}

.dark-mode {
    background-color: #263238;
    color: #ECEFF1;
}


.dark-mode .task-item {
    background-color: #37474F;
}

.dark-mode .task-header h3 {
    color: #ECEFF1;
}

.dark-mode .task-details p {
    color: #B0BEC5;
}

.dark-mode .task-buttons button {
    background-color: #00897B;
}

.dark-mode .task-buttons button:hover {
    background-color: #004d40;
}

.task-item,
.task-header h3,
.task-details p,
.task-buttons button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.task-list-container {
    background-color: #F3F3F3;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

h1 {
    font-size: 28px;
    color: #004d40;
}

.add-task-button {
    background-color: #00695C;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.add-task-button:hover {
    background-color: #004d40;
}

.filter-buttons {
    display: flex;
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-buttons button.active {
    background-color: white;
    color: black;
}

.filter-buttons button:hover:not(.active) {
    background-color: #004d40;
}

.task-items {
    background-color: #ECEFF1;
    border-radius: 10px;
    padding: 25px;
    margin-top: 15px;
}